    <div class="container">
      <div class="row">
        
        <section class="main col-md-12">
          <article>
            <h2>About</h2>
            <p>
              A warm and energetic greeting to you. You're here since we trust in what your identity is and what you need to contribute." "Welcome to our novel, cooperative, dynamic and vivacious group! We picked you since those words concern you, so we realize you'll fit in impeccably with us.

Web improvement is the structure and support of sites; the work occurs in the background to make a site look perfect, work quick and perform well with a consistent client experience. Web designers, or 'devs', do this by utilizing an assortment of coding dialects
            </p>
            <p>
              At the point when you type a site into your internet browser or quest for something through a web search tool, HTTP gives a structure with the goal that the client (PC) and server can communicate in similar language when they make solicitations and reactions to one another over the Web. It's basically the interpreter among you and the Web — it peruses your site demand, peruses the code sent back from the server, and deciphers it for you as a site.
            </p>
            <p>
               A warm and energetic greeting to you. You're here since we trust in what your identity is and what you need to contribute." "Welcome to our novel, cooperative, dynamic and vivacious group! We picked you since those words concern you, so we realize you'll fit in impeccably with us.

Web improvement is the structure and support of sites; the work occurs in the background to make a site look perfect, work quick and perform well with a consistent client experience. Web designers, or 'devs', do this by utilizing an assortment of coding dialects
            
            
              Sites are records put away on servers, which are PCs that host (extravagant term for "store documents for") sites. These servers are associated with a monster network called the Web. Programs are PC programs that heap sites by means of your Web association, for example, Google Chrome or Web Adventurer, while the PCs used to get to these sites are known as "clients".Front-end (or client-side) is the side of a website or programming that you see and collaborate with as an Internet client. Right when page information is moved from a server to a program, front-end coding vernaculars grant the page to work without having to constantly "give" with the Internet.
            </p>
            <p>
               At the point when you type a site into your internet browser or quest for something through a web search tool, HTTP gives a structure with the goal that the client (PC) and server can communicate in similar language when they make solicitations and reactions to one another over the Web. It's basically the interpreter among you and the Web — it peruses your site demand, peruses the code sent back from the server, and deciphers it for you as a site.
            </p>
            <p>
              references: https://blog.hubspot.com/website/website-development
            </p>
          </article>
        </section>
      </div>
    </div>